body{
    background-color: white;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.navbar{
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:whitesmoke;
    border: hidden 2px black;
    border-bottom-style: dotted;
    text-align: left;
    position: relative;
}

.navbar a{
    float: right;
    padding-right: 20px;
    font-weight: bold;
}

.everything-else{
    overflow: auto;
    height: 90%;
    text-align: center;
}

.question{
    background-color:white;
    display: block;

    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;

    padding: 40px;
    padding-top: 20px;
    padding-bottom: 35px;

    border: dotted 2px black;
    box-shadow: 4px 4px whitesmoke;
}

.id{
    background-color:white;
    display: block;

    margin: auto;
    margin-top: 5%;

    padding: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    

    border: dotted 2px black;
    box-shadow: 4px 4px whitesmoke;

    max-width: 600px;
    text-align: left;
}

.id-img{
    display: inline;
    border: dotted 2px black;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    
    max-width: 50%
}

.id-info{
    display: inline;
    float: right;
    vertical-align: top;
    max-width: 45%;
}

.hidden{
    display: none;
}

.numbering{
    font-size: xx-small;
}

.title{
    font-size: large;
    font-weight: bold;
}

.description{
    font-size: small;
}

input[type=submit]{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: black;
    background-color: whitesmoke;

    margin: 5px;
    padding: 10px;
    border: dotted 2px black;
    box-shadow: 4px 4px whitesmoke;
    margin: auto;
}

input[type=radio]:hover{
    cursor: pointer;
}

button{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: black;
    background-color: whitesmoke;

    padding: 10px;
    border: dotted 2px black;
    box-shadow: 4px 4px whitesmoke;
    margin: auto;
    margin-top: 30px;
}

#form-submit:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.garden-box-small{
    border: dotted 2px black;
    background-color: whitesmoke;

    margin: 10px;
    padding: 10px;
    /* padding-top: 0px; */
    /* padding-bottom: 15px; */
    vertical-align: top;

    flex: 1 0 25%;
    max-width: 25%;
    /* height: 250px; */
    display: inline-block;
}

.alt{
    background-color: white;
}

.garden-img{
    min-height: 50px;
    max-height: 150px;
    display: block;
    z-index: 0;
}

.join{
    font-size: large;
}

.joinbox{
    justify-content: center;
    position:absolute;
    bottom: 6%;
    width: 100%;
}


/* hovering over your flower shows where it is */

.myflower:hover{
    background-image: url(images/here-you-are.png);
    background-size: 100%;
}

#tellem{
    float: right;
    padding-right: 20px;
    font-weight: bold;
}

.illust{
    max-width: 70%;
}