<html>
    <head>
        <title>about us</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">
           <p>
                <!-- blinkie generated from https://blinkies.cafe/?s=0029-pinksparkle -->
                <img src="images/sockmatch-blinkie.gif" width="200px" height="30px">
                <a href="/"> ♡ home ♡ </a>
           </p>
        </div>

        <a href="post"><img class="postbutton" src="images/sock-post.png"></a>

        <div class="post-container">
            <div class="post">
                <p class="title">♡ welcome to match your sock! ♡</p>

                <div class="radios">
                    <p>
                        "match your sock" is a website where owners of no-longer-matching socks from all over the world can come together to 
                        pair them with each other.
                    </p>
                    <p>
                        no matter the length, colour, and age of your sock, they all deserve a second chance at life, and 
                        to not be lonely anymore.
                    </p>
                </div>
                <div class="posting">
                     <p><i>
                        <br>
                         when you're ready, feel free to press the "new post" button on the bottom right corner of the page to tell us your sock's story!
                    </i></p>
                </div>
                <div class="radios">
                    <p>
                        please be respectful of all sock owners, and be sure to write in the point of view of your sock. they deserve a voice, too!
                    </p>
                    <p>
                        please report any inappropriate behaviour to our admin team, and let us know once you have paired up your sock. we will add a 
                        "found" tag to your post!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>