<html>
    <head>
        <title>about us</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">
           <p>
             <!-- blinkie generated from https://blinkies.cafe/?s=0029-pinksparkle -->
             <img src="images/sockmatch-blinkie.gif" width="200px" height="30px">
             <a href="home.html"> ♡ home ♡ </a>
           </p>
        </div>
    </body>
</html>