<html>
    <head>
        <title>post your sock</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form action="/submit" method="GET">
            your title:
            <!-- ask what the hell going on -->
            <textarea name="title" value=""></textarea>
            display name:
            <input type="text" name="user" value="">
            your post:
            <textarea name="message" value=""></textarea>
            <input type="submit" name="submitbtn" value="write">
        </form>
    </body>
</html>