<html>
    <head>
        <title>what did you do...</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="question">
            hey... so... you're not meant to see this. if you're seeing this page something is seriously wrong.
            <br>
            let's just... forget this ever happened... and I'll take you back.
            <br>
            <br>
            <a href="/">go home</a>
        </div>
        

    </body>
</html>