<html>
    <head>
        <title>visit the garden</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>

        <!-- navbar: consistent with every page -->
        <div class="navbar">
            <p>
             <!-- kaomoji from https://emojicombos.com/garden -->
             <b>the garden ₊˚ʚ 𖧧 ₊˚✧ ﾟ.</b>
             <a href="/">back to the garden</a>
            </p>
        </div>

        <div class="everything-else">
            <form action="/submit" method="post">

                <div class="question">
                    <p class="title"> it all went dark until...</p>
                    <br>
                    <input type="radio" class="radiobutt" name="question0"> until...
                </div>
                
                <!-- question 1 ------------------------------------------------------------------------------------------------------------>
                
                <div class="question hidden">

                    <p class="title"> arrival</p>

                    <p class="numbering">(1/12)</p>

                    <p class="description">   
                        you wake up in the garden. you&apos;re a plant. this is reality now. 
                    </p>
                        
                    <p class="description">   
                        in front of you, two blurry shapes approach slowly.
                        <br>
                        it&apos;s two sprouts. 
                    </p>
                        
                    <p>
                        <img class="illust" src="images/scene1.gif">
                    </p>

                    <p class="description">   
                        they introduced themselves to you and said that they were worried about you, since you weren&apos;t waking up.
                    </p>
                        
                    <p class="description">   
                        you look around.
                        <br>
                        you slept through the entire harsh winter and it&apos;s spring.
                    </p>

                    <p class="description">
                        what do you do?
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question1" value="high"> freak out. what's going on?? why am I a plant??
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question1" value="low"> accept my fate.
                    </div>
                </div>

                <!-- question 2 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> introductions </p>

                    <p class="numbering">(2/12)</p>

                    <p class="description">
                        The two sprouts ask you why you&apos;ve joined the garden, and if they can help you.
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question2" value="flower"> I'm here for adventure! how exciting!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question2" value="fruit"> I'm really just here to escape finals season...
                    </div>
                </div>

                <!-- question 3 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> proposal </p>

                    <p class="numbering">(3/12)</p>

                    <p class="description">
                        ”okay,” they said.
                        <br>
                        <br>
                        they suggest that you should stick together to find out how you ended up here, and if there&apos;s a way for you to escape.

                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question3" value="warm"> okay, sounds good to me!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question3" value="cool"> say "okay" only to be polite, even though you still don&apos;t trust these plants.
                    </div>
                </div>

                <!-- question 4 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> quest</p>

                    <p class="numbering">(4/12)</p>

                    <p class="description">
                        as you walk past the notice board in town, you notice that there is a bounty out for a treasure. 
                    </p>

                    <p>
                        <img class="illust" src="images/scene2.gif">
                    </p>
                    
                    <p class="description">
                        it&apos;s called “the book that answers all,” and it&apos;s located in a tower in an abandoned town, guarded by a dragon.


                        <br>
                        <br>
                        ↓

                    </p>
                        
                    <div>
                        <input type="radio" class="radiobutt" name="question4" value="pack"> oh yay! just what I was looking for. let's go!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question4" value="lone"> that feels convenient... maybe a little too convenient...
                    </div>
                </div>

                <!-- question 5 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> paths </p>

                    <p class="numbering">(5/12)</p>

                    <p class="description">
                        you&apos;ve decided to seek the book together, and set out to find the tower that the treasure is rumoured to be at.
                        <br>
                        <br>
                        there are two roads that you can take to the tower: 
                        a nice, scenic route through the snowy plains, or a shortcut through the dangerous but exciting volcano.
                        <br>
                        <br>
                        the two sprouts are split between the choices, and ask you for a third opinion.
                    </p>
                    <p>
                        <img class="illust" src="images/scene3.gif">
                    
                    </p>
                    <p class="description">

                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question5" value="cool"> the safe and scenic plains.
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question5" value="warm"> the shortcut.
                    </div>
                </div>

                <!-- question 6 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> check-in </p>

                    <p class="numbering">(6/12)</p>

                    <p class="description">
                        at this moment, you feel:

                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question6" value="low"> happy to be in nature.
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question6" value="high"> nervous for what's to come.
                    </div>
                </div>

                <!-- question 7 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> unexpected </p>

                    <p class="numbering">(7/12)</p>

                    <p class="description">
                        halfway through your journey, you come across a giant cat-beast that chases you across the field. 
                        <br>
                        <br>
                        as you are nearing the gates into the abandoned city,
                        one of your sprout friends trips and falls onto the ground. unfortunately, you couldn&apos;t turn back to save them. 
                    </p>
                    <p>
                        <img class="illust" src="images/scene4.gif">
                    
                    </p>
                    <p class="description">
                        as you reach safety without them, you can&apos;t help but feel:
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question7" value="pack"> guilt. I should have done more to save that sprout.
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question7" value="lone"> relief and thankfulness. 
                        the sprout&apos;s sacrifice bought us enough time to escape safely.
                    </div>
                </div>

                <!-- question 8 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> castle </p>

                    <p class="numbering">(8/12)</p>

                    <p class="description">
                        and… here you are. you&apos;ve finally reached the castle. 
                        <br>
                        <br>
                        the remaining sprout asks if you have a plan for how to approach your objective.
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question8" value="warm"> we should walk through the front door!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question8" value="cool"> let's see if we can sneak in through the back.
                    </div>
                </div>

                <!-- question 9 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> dragon </p>

                    <p class="numbering">(9/12)</p>

                    <p class="description">
                        after carefully traversing through the traps in the castle, you finally find the dragon. 
                        <br>
                        <br>
                        however, it looks tired and doesn&apos;t seem like it wants to put up much of a fight anymore.
                    </p>
                    <p>
                        <img class="illust" src="images/scene5.gif">
                    
                    </p>
                    <p class="description">
                        it nudges you towards the direction of the treasure room.
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question9" value="low"> hold on, what about my fight? I need to fight the dragon!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question9" value="high"> oh thank goodness… thank you mr. dragon… 
                    </div>
                </div>

                <!-- question 10 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> treasure </p>

                    <p class="numbering">(10/12)</p>

                    <p class="description">
                        finally, you approach a giant treasure chest. 
                        <br>
                        <br>
                        suddenly, a familiar figure emerges from the shadows. 
                        <br>
                    </p>
                    <p>
                        <img class="illust" src="images/scene6.gif">
                    
                    </p>
                    <p class="description">
                        it&apos;s the sprout that you left behind. 
                        <br>
                        they survived the attack and is back for revenge (with a cool new eyepatch).
                        <br>
                        <br>
                        the sprout (the one who&apos;s still on your side) offers to hold them off so that you can get to the treasure.
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question10" value="pack"> I&apos;m not leaving alone. I&apos;m going to explain our position and hope that 
                        we can put it behind us and open the chest together.
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question10" value="lone"> I trust the sprout&apos;s capabilities. 
                        I need to get to the treasure so that we can finish our mission.
                    </div>
                </div>

                <!-- question 11 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> treasure? </p>

                    <p class="numbering">(11/12)</p>

                    <p class="description">
                        you open the treasure chest. it&apos;s empty. Wow. 
                        <br>
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question11" value="fruit"> what a shame...
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question11" value="flower"> you know what they say... it's about the friends we made along the way!
                    </div>
                </div>

                <!-- question 12 ------------------------------------------------------------------------------------------------------------>
                <div class="question hidden">

                    <p class="title"> the end </p>

                    <p class="numbering">(12/12)</p>

                    <p class="description">
                        though you didn&apos;t end up finding the treasure, the bounty said that it&apos;ll still compensate adventurers for trying.
                        <br>
                        you take the empty treasure chest all the way back to the garden, where you are met with the mayor.
                        <br>
                        <br>
                        the mayor thanks you for your hard work, and offers you citizenship to the garden, as well as a title of honour. 
                    </p>
                    <p>
                        <img class="illust" src="images/scene7.gif">
                    
                    </p>
                    <p class="description">
                        <br>
                        ↓
                    </p>
                        
                    <div>
                        </p>
                        <input type="radio" class="radiobutt" name="question12" value="flower"> wow, thank you! what an honour!
                        <br>
                        <br>
                        <input type="radio" class="radiobutt" name="question12" value="fruit"> hold on! what about finding an answer and leaving the garden?
                    </div>
                </div>

                <br>

                <input type="submit" class="hidden" id="form-submit" value="alright, I think you're ready for the garden!">

            </form>

        </div>

    </body>
</html>